/* 容器 */
body{
    padding: 0px;
    margin: 0px;
}
.container{ /* 650/25 = 26 个单位 */
    width: 650px;
    margin: 1% auto;
    height: 650px;
    border: 1px solid rgba(0,0,0,0.5);
    font-size: 0px;
    position: relative;
    overflow: hidden;
}
.container > img{
    width: 25px;
    height: 25px;
    margin: 0px;
}

/* 坦克 */
.tank{  /* 坦克宽度50px（2个单位） */
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    font-size: 0px;

    overflow: hidden;
    display: inline-block;
    position: absolute;

    /* 动画过渡效果 */
    /*-webkit-transition: all 0.1s;*/
    /*-moz-transition: all 0.1s;*/
    /*-ms-transition: all 0.1s;*/
    /*-o-transition: all 0.1s;*/
    /*transition: all 0.1s;*/
}
.tank *{
    display: inline-block;
    margin: 0px;
    position: relative;
}
.tank .rect{
    width: 20%;
    height: inherit;
}
.tank .square{
    width: 55%;
    height: 50%;
    margin: 25% 2%;
    overflow: hidden;
}
.tank .square .circle{
    width: 60%;
    height: 60%;
    border-radius: 100%;
    margin: 20%;
    background: black;
}
.tank .launch{ /* 发射枪 */
    background: black;
    width: 12%;
    height: 50%;
    position: absolute;
    left: 43%;
    /*transform: rotate(5deg);/!* 偏移一定角度 *!/*/
}
.tank .launch .launch-spot{ /* 发射点 */
    background: inherit;
    width: 100%;
    height: 10%;
    position: relative;
}
.tank-red *{
    background: red;
}
.tank-green *{
    background: rgb(0,255,0);
}

/* 子弹 */
.bullet{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: yellow;
    display: inline-block;
    position: absolute;
    z-index: 1000;
    left: 0px;
    top: 0px;

    /* 动画过渡效果 */
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}